<div class="container">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="col s11 input-field">
                    <input type="text" class="validate" name="burger" id="burger">
                    <label for="burger">Burger</label>
                </div>
                <div class="col s1 input-field">
                    <button id="addBurger" class="btn-large">
                        <i class="material-icons">
                            add
                        </i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div id="uneaten" class="col s4">
            <h5 class="center-align">Uneaten Burgers</h5>
            {{#each burgers}}
            {{#unless eaten}}
            <div class="row card-panel">
                <p>
                {{name}}
                </p>
            <div class="center-align">
            <button data-burger="{{id}}" class="btn-floating eatBurger">
            Eat
            </button>
            </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col s4"></div>
        <div id="eaten" class="col s4">
            <h5 class="center-align">Eaten Burgers</h5>
            {{#each burgers}}
            {{#if eaten}}
            <div class="row card-panel">
            <p>{{name}}</p>
            <div class="center-align">
            <button data-burger="{{id}}" class="btn-floating red deleteBurger">
            delete 
            </button>
            </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
</div>